.idea/misc.xml
.idea/MobileApp_GymSaga.iml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/deviceStreaming.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/.gitignore
gymsaga/pubspec.lock
gymsaga/android/app/.cxx/Debug/3u5f476s/hash_key.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/additional_project_files.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/android_gradle_build_mini.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/android_gradle_build.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/build_file_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/build.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/cmake_install.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeCache.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/configure_fingerprint.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/metadata_generation_command.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/prefab_config.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/symbol_folder_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/reply/cache-v2-901e3f41bd1a3e3b0814.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-c70d39efe03f4b59404b.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-465607d1b1ce34ca761c.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/.cmake/api/v1/reply/index-2025-04-13T16-57-54-0296.json
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/cmake.check_cache
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/rules.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/TargetDirectories.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
gymsaga/android/app/.cxx/Debug/3u5f476s/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/additional_project_files.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/android_gradle_build_mini.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/android_gradle_build.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/build_file_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/build.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/cmake_install.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeCache.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/configure_fingerprint.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/metadata_generation_command.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/prefab_config.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/symbol_folder_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/reply/cache-v2-d689500bfc478a9569dc.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-910d4d1ce2658d0f5180.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-3133a442b1428fc1eff5.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-13T16-58-04-0732.json
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/cmake.check_cache
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/rules.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/TargetDirectories.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
gymsaga/android/app/.cxx/Debug/3u5f476s/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/additional_project_files.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/android_gradle_build_mini.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/android_gradle_build.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/build_file_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/build.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/cmake_install.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeCache.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/configure_fingerprint.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/metadata_generation_command.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/prefab_config.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/symbol_folder_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/query/client-agp/cache-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/query/client-agp/codemodel-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/reply/cache-v2-97c0172412f145eab7b1.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/reply/cmakeFiles-v1-f77c4ecc1a7e8ff1329f.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/reply/codemodel-v2-75343aa33cd10adab85b.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/.cmake/api/v1/reply/index-2025-04-13T16-58-08-0582.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/cmake.check_cache
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/rules.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/TargetDirectories.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
gymsaga/android/app/.cxx/Debug/3u5f476s/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/additional_project_files.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/android_gradle_build_mini.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/android_gradle_build.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/build_file_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/build.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/cmake_install.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeCache.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/configure_fingerprint.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/metadata_generation_command.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/prefab_config.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/symbol_folder_index.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/query/client-agp/cache-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/reply/cache-v2-15c1dd673db46a3e455e.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-68f66a0dd69ccf81ef0f.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/reply/codemodel-v2-a56a8f6529a42c64e478.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/.cmake/api/v1/reply/index-2025-04-13T16-58-11-0825.json
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/cmake.check_cache
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/rules.ninja
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/TargetDirectories.txt
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
gymsaga/android/app/.cxx/Debug/3u5f476s/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
